@page "/"
@inherits HomePage

<h1>Welcome to Code Health</h1>

<p>You're about to enter an exciting new world of code health! Are you ready?</p>
<p>To start, browse to the Projects page and scan a folder!</p>
