@page "/"
@inherits HomePage

<h1>Welcome to Code Health</h1>

<p>You're about to enter an exciting new world of code health! Are you ready?</p>
<p>To start, click the button below and pick a source folder to analyze.</p>

<button @onclick="OpenFolderPicker">Pick Folder</button>

<p>@folderPath</p>
