@page "/project/{ProjectId}"
@inherits ProjectSummaryPage

<h3>Summary for Project: @ProjectId</h3>

@if (!isAllDataLoaded)
{
    <p>Loading...</p>
}
else
{
    <div>
        <p><strong>Cyclomatic Complexity:</strong> Total @totalComplexity, Average @averageComplexity. <a href="@($"/project/{ProjectId}/cyclomatic-complexity")">Full Report</a></p>
    </div>
}
