.high-complexity {
    background-color: #f8d7da;
    color: #721c24;
}
.medium-complexity {
    background-color: #fff3cd;
    color: #856404;
}
.low-complexity {
    background-color: #d4edda;
    color: #155724;
}
.file-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}
.file-link:hover {
    color: #0056b3;
}
.complexity-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.table th:nth-child(1), /* Style for the Folder header */
.table td:nth-child(1) { /* Style for the Folder cells */
    max-width: 200px; /* Adjust as needed */
    word-break: break-word;
    overflow-wrap: break-word;
}

.table th:nth-child(2), /* Style for the File header */
.table td:nth-child(2) { /* Style for the File cells */
    max-width: 250px; /* Adjust as needed */
    word-break: break-word;
    overflow-wrap: break-word;
}