/** TODO scanner **/

.highlight-todo {
    background-color: #ccf; /* Or any color you prefer */
    font-weight: bold;
}

.code-container {
    display: flex;
}

.line-numbers {
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid #ddd; /* Adds a separator */
    user-select: none; /* Prevents line numbers from being selectable */
}

.line-number {
    padding-left: 5px;
    color: #888; /* Lighter color for line numbers */
}

.code-content {
    margin: 0;
    white-space: pre-wrap; /* Allows wrapping for long lines */
    word-wrap: break-word; /* Prevents overflow */
}
