@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <!-- put links in here for stuff that goes in the top-right of every page! -->
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
